.container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product_container{
    height: 688px;
    width: 333px;
    margin: 8px;
}

.image_container{

}
.image {
    height: 600px;
    width: 100%;
}
.description_container{
    height: 18px;
}

.sizes_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}

.size {
    width: 24px;
    height: 24px;
    margin: 4px;
    border: 2px solid var(--color-grey-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.size_text{
    font-size: 10px;
    color: var(--color-grey-text);
    text-align: center;
}

.available {
    text-decoration: none;
}

.unavailable {
    text-decoration: line-through;
}

.price_container{
    height: 18px;
}

.text{
    text-align: center;
    font-size: 12px;
}